name: Create Patch Release

on:
  push:
    branches:
      - main

jobs:
  create-patch-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Get latest release
        id: latest_release
        uses: actions/github-script@v4
        with:
          script: |
            const { data } = await github.repos.listReleases({
              owner: context.repo.owner,
              repo: context.repo.repo,
              per_page: 1,
            });
            return data[0]?.tag_name || 'v0.0.0';
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Increment patch version
        id: semver
        uses: mathieudutour/github-tag-action@v6.1
        with:
          version: ${{ steps.latest_release.outputs.result }}
          release_type: patch
      - name: Create patch release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.semver.outputs.new_tag }}
          release_name: ${{ steps.semver.outputs.new_tag }}
          body: Default release message
          draft: false
          prerelease: false
